body {
    background-color:#09162F;
    /*remove top margin*/
    margin: 0;
    padding: 0;
}

* {
    font-family: "Poppins";
    color: white;
}

.header {
    position: sticky; 
    top: 0; 
    left: 0; 
    background-color:rgb(66, 148, 255);
    width: 100%; 
}

.header-topMenu {
    text-align: center;
    margin: 0 auto; 
    padding: 10px; 

    > a {
        padding-left: 15px; 
        padding-right: 15px; 
        font-size: 35px;
        font-weight: bold;
        transition-duration: 0.1s;
    }

    > a:hover {
        background-color:rgb(42, 98, 172);
        transition-duration: 0.1s;
    }
}

.authorName {
    font-size: 35px;
    padding-left: 15%;
    font-weight: bold;
    width: 60%;
}

.job {
    color: rgb(66, 148, 255);
    font-weight: bold;
}

.profileBloc {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 25px;
    grid-auto-flow: column;
    margin-bottom : 50px;

    > img {
        width: 400px;
    }

    > p {
        font-size: 150%;
        max-width: 400px;
        display: block; 
        overflow: hidden;
    }
}

/* média querry : quand l'écran est plus grand que 960px */
@media screen and (min-width: 960px){
    .d-flex {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;

        > section {
            text-align: center;
            width: 350px;
            margin-top : 50px;
            margin-bottom : 50px;
        }
    }
}

@keyframes onButtonHover {
    from {
        background-color:rgb(66, 148, 255);
        padding: 10px;
    }

    to {
        background-color:rgb(31, 71, 124);
        padding: 15px;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
}