body {
    background-color:rgb(4, 19, 41);
}

* {
    font-family: "Poppins";
    color: white;
}

#authorName {
    font-size: 35px;
    font-weight: bold;

    margin: auto;
    width: 30%;
    padding: 50px;
}

.job {
    color: rgb(66, 148, 255);
    font-weight: bold;
}

nav {
    text-align: center;
}

button
{
    background-color:rgb(66, 148, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.1s;
}

button:hover
{
    transition-duration: 0.1s;
    padding: 15px;
}

#profileBloc {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 25px;
    grid-auto-flow: column;
    margin-bottom : 50px;
}

#profilText {
    font-size: 150%;
    max-width: 400px;
    display: block; 
    overflow: hidden;
}

img {
    width: 400px;
}

@keyframes onButtonHover {
    from {
        background-color:rgb(66, 148, 255);
        padding: 10px;
    }

    to {
        background-color:rgb(31, 71, 124);
        padding: 15px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

#bloc
{
    text-align: center;
    width: 350px;
    margin-top : 50px;
    margin-bottom : 50px;
}

/* média querry : quand l'écran est plus grand que 960px */
@media screen and (min-width: 960px){
    .d-flex {
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 100px;
        grid-auto-flow: column;
    }
}